.skill-section {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-gap: 1rem;
        font-size: 1.2rem;

        .skill-box {
            margin: 2rem 4rem;
            max-width: 15rem;
            padding: 1rem;
            color: var(--text-color);
            cursor: pointer;

            &:hover>.skill-title:after,&:hover>.skill-title:before{
                width:35px;
            }
            &:hover .img{
                transform: translateY(-10px);
            }
            .skill-title {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 50%;
                    width: 0;
                    height: 4px;
                    border-radius: 2px 0 0 2px;
                    background-color: #2ecc71;
                    transition:0.5s ;   
                }
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 4px;
                    border-radius: 0 2px 2px 0;
                    background-color: #2ecc71;
                    transition:0.5s ;   
                }
                .img {
                    width: 90px;
                    height: 90px;
                    position: relative;
                    border-radius: 45px;
                    background-color: #fff;
                    // background-color: var(--text-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition:0.5s ;
                    
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 90px;
                        background: rgba(100, 100, 100, 0.3);
                        border-radius: 45px 0px 0px 45px;
                    }
                    svg{
                        z-index: 100;
                    }

                    .skill-icon {
                        width: 50px;
                        z-index: 2;

                    }

                }

                h3 {
                    color: var(--text-color);
                    margin-top: 0.5rem;

                }
            }
            .Learn-more{
                background-color: transparent;
                border: none;
                color: var(--text-color);
                &:hover{
                    color:#22cf91
                }
            }
            .desc{
                word-wrap: break-word;
                font-size: 0.8rem;
            }
        }
    }
}